#include "res/resource.h"

// Manifests
ID_MANIFEST MANIFEST "target/res/app.min.manifest"

// Icons
ID_ICON_APP ICON "target/res/icon.ico"

// XAML
ID_XAML_WINDOW XAML "res/window.xaml"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "PlaatSoft"
            VALUE "FileDescription", "Island"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "Island"
            VALUE "LegalCopyright", "Copyright \xA9 2021-2024 PlaatSoft"
            VALUE "OriginalFilename", "island.exe"
            VALUE "ProductName", "Island"
            VALUE "ProductVersion", "0.1.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 0x04B0
    }
}
