#include <winver.h>
LANGUAGE 0, 0

// Manifest
1 MANIFEST "app.manifest"

// Icon
1 ICON "icon.ico"

// Images
1 IMAGE "bassiebas.jpg"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "PlaatSoft"
            VALUE "FileDescription", "BassieImage"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "BassieImage"
            VALUE "LegalCopyright", "Copyright (c) 2021 PlaatSoft"
            VALUE "OriginalFilename", "bimg.exe"
            VALUE "ProductName", "BassieImage"
            VALUE "ProductVersion", "0.1.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 0x04B0
    }
}
