#include "redsquare.h"
#include <winver.h>

// Manifest
MANIFEST_ID MANIFEST "redsquare.manifest"

// Icons
APP_ICON_ID ICON "icon.ico"

// Bitmaps
PAPER_BITMAP_ID BITMAP "paper.bmp"
PAPER_DARK_BITMAP_ID BITMAP "paper-dark.bmp"

// Sounds
GAMEOVER_WAVE_ID WAVE "gameover.wav"

// Layouts
MAIN_LAYOUT_ID RCDATA "layout.bin"

// Neutral strings
STRINGTABLE LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
    FONT_STRING_ID, "Georgia\0"
    #ifdef WIN64
        MENU_VERSION_STRING_ID, "v" STR(APP_VERSION_MAJOR) "." STR(APP_VERSION_MINOR) "." STR(APP_VERSION_PATCH) " (x64)\0"
    #else
        MENU_VERSION_STRING_ID, "v" STR(APP_VERSION_MAJOR) "." STR(APP_VERSION_MINOR) "." STR(APP_VERSION_PATCH) " (x86)\0"
    #endif
    MENU_TITLE_STRING_ID, "RedSquare\0"
}

// English Strings
STRINGTABLE LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
    MENU_PLAY_STRING_ID, "Play\0"
    MENU_HIGHSCORES_STRING_ID, "High Scores\0"
    MENU_HELP_STRING_ID, "Help\0"
    MENU_SETTINGS_STRING_ID, "Settings\0"
    MENU_EXIT_STRING_ID, "Exit\0"
    MENU_FOOTER_STRING_ID, "Made by Bastiaan van der Plaat\0"

    GAME_SCORE_STRING_ID, "Score: %d\0"
    GAME_TIME_STRIND_ID, "Time: %d:%02d\0"
    GAME_LEVEL_STRING_ID, "Level: %d\0"
    GAMEOVER_TITLE_STRING_ID, "Game Over\0"
    BACK_STRING_ID, "Back\0"

    HIGHSCORES_EMPTY_STRING_ID, "No high scores found!\0"
    HELP_TEXT_STRING_ID, "RedSquare is an classic 2D action game.\n\
Click and hold the red square.\n\
Now move so that you neither touch the wall\n\
nor get hit by any of the blue squares.\n\
If you make it to 60 seconds, you are\n\
doing brilliantly!\0"
    SETTINGS_NAME_STRING_ID, "Name:\0"
    SETTINGS_LANGUAGE_STRING_ID, "Language:\0"
    SETTINGS_THEME_STRING_ID, "Theme:\0"
    SETTINGS_THEME_LIGHT_STRING_ID, "Light\0"
    SETTINGS_THEME_DARK_STRING_ID, "Dark\0"
}

// Dutch strings
STRINGTABLE LANGUAGE LANG_DUTCH, SUBLANG_DUTCH
{
    MENU_PLAY_STRING_ID, "Spelen\0"
    MENU_HIGHSCORES_STRING_ID, "Hoogste Scores\0"
    MENU_HELP_STRING_ID, "Help\0"
    MENU_SETTINGS_STRING_ID, "Instellingen\0"
    MENU_EXIT_STRING_ID, "Afsluiten\0"
    MENU_FOOTER_STRING_ID, "Gemaakt door Bastiaan van der Plaat\0"

    GAME_SCORE_STRING_ID, "Score: %d\0"
    GAME_TIME_STRIND_ID, "Tijd: %d:%02d\0"
    GAME_LEVEL_STRING_ID, "Level: %d\0"
    GAMEOVER_TITLE_STRING_ID, "Game Over\0"
    BACK_STRING_ID, "Terug\0"

    HIGHSCORES_EMPTY_STRING_ID, "Er zijn geen hoogste scores gevonden!\0"
    HELP_TEXT_STRING_ID, "RedSquare is een klassiek 2D-actiespel.\n\
Klik en houd het rode vierkantje vast.\n\
Beweeg nu zodat je de muur niet aanraakt\n\
noch geraakt worden door een van de blauwe\n\
vierkanten. Als je de 60 seconden haalt,\n\
ben je briljant bezig!\0"
    SETTINGS_NAME_STRING_ID, "Naam:\0"
    SETTINGS_LANGUAGE_STRING_ID, "Taal:\0"
    SETTINGS_THEME_STRING_ID, "Thema:\0"
    SETTINGS_THEME_LIGHT_STRING_ID, "Licht\0"
    SETTINGS_THEME_DARK_STRING_ID, "Donker\0"
}

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, 0
PRODUCTVERSION APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, 0
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "PlaatSoft"
            VALUE "FileDescription", "RedSquare"
            VALUE "FileVersion", STR(APP_VERSION_MAJOR) "." STR(APP_VERSION_MINOR) "." STR(APP_VERSION_PATCH) ".0"
            VALUE "InternalName", "RedSquare"
            VALUE "LegalCopyright", "Copyright (c) 2021 PlaatSoft"
            #ifdef WIN64
                VALUE "OriginalFilename", "redsquare-x64.exe"
            #else
                VALUE "OriginalFilename", "redsquare-x86.exe"
            #endif
            VALUE "ProductName", "RedSquare"
            VALUE "ProductVersion", STR(APP_VERSION_MAJOR) "." STR(APP_VERSION_MINOR) "." STR(APP_VERSION_PATCH) ".0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 0x04B0
    }
}
